<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (products.length > 0) { %>
                <ul>
                    <% products.forEach(p => { %>
                        <li>
                            <p><%= p.productData.title %> (<%= p.qty %>)</p>
                            <img src="<%= p.productData.imageUrl %>" alt="<%= p.productData.title %>">
                            <p><%= p.productData.description %></p>
                            <p>$<%= p.productData.price %></p>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" value="<%= p.productData.id %>" name="productId">
                                <button class="btn" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
                <p>Total Price: <%= totalPrice %></p>
            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>